In [1]:
import pickle
import pandas as pd
import os

INICIO AQUI

1) retriever improved001
top10_flag_novo
top50_flag_novo
top100_flag_novo

table_idx_gt
top100_table_idx

In [201]:
#file = '/data/ott-qa/retriever/improved001/mpnet_table_intro_embeddings_cpu_512_512.csv'

file = '/data/ott-qa/reader_tapex_tapas/mpnet_table_embeddings_cpu_384_512.csv'

df = pd.read_csv(file,sep=',', index_col=None)
df.head()

,question_id,question_txt,table_uid_gt,answer_text_gt,question_postag,top100_table_idx,top100_table_score,table_idx_gt,table_url_gt,table_token_len_gt,...,top1_flag,top10_flag,top50_flag,top100_flag,tapex_answer_text,tapex_answer_tokens,tapex_top1_flag,tapas_answer_text,tapas_top1_flag,tapas_agg_string
0,2b6359edb1b352c3,Who created the series in which the character ...,Nonso_Anozie_1,Lynda La Plante,"WP VBD DT NN IN WDT DT NN IN NNP , VBN IN NN N...","[8838, 2246, 8432, 7233, 5561, 5716, 6335, 746...","[0.6345087289810181, 0.6341838240623474, 0.619...",8838,https://en.wikipedia.org/wiki/Nonso_Anozie,175,...,True,False,False,False,prime suspect 7,"[['prime', 'suspect', '7']]",False,Episode : Part 1,False,['NONE']
1,1bd5ee91518dc589,What did the 2nd championship win at the Seven...,Sevens_Grand_prix_series_0,2016 Summer Olympics,WP VBD DT CD NN NN IN DT NNP NNP NNP NNP IN DT...,"[3224, 4878, 8379, 8176, 3285, 6448, 1133, 838...","[0.5857019424438477, 0.536044716835022, 0.5201...",8494,https://en.wikipedia.org/wiki/Sevens_Grand_Pri...,55,...,False,False,False,False,12,[['12']],False,-,False,['NONE']
2,b2fa6dea5e272acc,This 70 's Kishore Kumar song was in a film pr...,Kishore_Kumar_1,Main Pyaasa Tum,DT CD POS NNP NNP NN VBD IN DT NN VBN IN NNP N...,"[3516, 7740, 3552, 6040, 5190, 6542, 7047, 107...","[0.7714517116546631, 0.7607235312461853, 0.760...",8205,https://en.wikipedia.org/wiki/Kishore_Kumar,429,...,False,True,False,False,ja ri bahena ja,"[['ja', 'ri', 'bahena', 'ja']]",False,Trishul,False,['NONE']
3,24ae33636128ba03,What is the full birth name of the Bradford A....,Bradford_City_A.F.C._0,Guy Peter Bromley Branston,WP VBZ DT JJ NN NN IN DT NNP NNP NN IN RB VBN ...,"[3970, 4652, 741, 1727, 675, 5861, 1687, 277, ...","[0.6504061222076416, 0.6408249139785767, 0.639...",8152,https://en.wikipedia.org/wiki/Bradford_City_A....,249,...,False,False,False,False,danny bridge,"[['danny', 'bridge']]",False,COUNT > Lee Gaskell,False,['COUNT']
4,25019a7623f4ad5e,How many academic staff are at the university ...,Budapest_0,961,WRB JJ JJ NN VBP IN DT NN IN NNP WDT VBZ DT JJ...,"[8347, 6034, 2414, 2471, 5272, 6265, 2740, 299...","[0.7426620721817017, 0.544987678527832, 0.5303...",8347,https://en.wikipedia.org/wiki/Budapest,445,...,True,False,False,False,1144,[['1144']],False,NaN,False,['NONE']

In [ ]:


for index, row in df.iterrows():
    #print(f"Index: {index}")
    gt =  row['table_uid_gt']
    rrlist1 =  eval(row['rr_top100_table_uid'])[0:1]
    rrlist10 =  eval(row['rr_top100_table_uid'])[1:11]
    rrlist50 =  eval(row['rr_top100_table_uid'])[11:51]
    rrlist100 =  eval(row['rr_top100_table_uid'])[51:]

    if gt in rrlist1:
        print(index)
        print(gt)
        print(rrlist1)
        print('achei top1')
        df.loc[index,'rr_top1_flag'] = True

    if gt in rrlist10:
        print(index)
        print(gt)
        print(rrlist10)
        print('achei top10')
        df.loc[index,'rr_top10_flag'] = True

    if gt in rrlist50:
        print(index)
        print(gt)
        print(rrlist50)
        print('achei top50')
        df.loc[index,'rr_top50_flag'] = True

    if gt in rrlist100:
        print(index)
        print(gt)
        print(rrlist100)
        print('achei top100')
        df.loc[index,'rr_top100_flag'] = True

In [202]:
df['rr_top1_flag'].value_counts()

KeyError: 'rr_top1_flag'

In [197]:
df['rr_top10_flag'].value_counts()

False    1558
True      656
Name: rr_top10_flag, dtype: int64

In [198]:
df['rr_top50_flag'].value_counts()

False    1772
True      442
Name: rr_top50_flag, dtype: int64

In [199]:
df['rr_top100_flag'].value_counts()

False    2078
True      136
Name: rr_top100_flag, dtype: int64

In [200]:
file = '/data/ott-qa/reranking/improved003/mpnet_table_embeddings_cpu_512_512_corrigido.csv'
df.to_csv(file,sep=',',index=False)

FIM

In [47]:
eval(lista)[1]

'Jin_Chao-chun_1'

In [28]:
gt

{'List_of_alumni_and_faculty_of_the_Royal_Melbourne_Institute_of_Technology_16'}

In [17]:
df.columns
df['rr_top100_table_uid']#[1:11].tolist()

0       ['Alex_Pettyfer_3', 'Jin_Chao-chun_1', 'Ryan_D...
1       ['List_of_BTCC_champions_3', '1984_Italian_For...
2       ['Jency_Anthony_0', 'Geeta_Kapoor_0', 'Waheed_...
3       ['List_of_Malaysian_football_transfers_2014_19...
4       ['School_of_mines_1', 'School_of_mines_0', 'Bu...
                              ...
2209    ['2012_in_Brazilian_football_5', 'Zlatan_Musli...
2210    ['List_of_ship_launches_in_1944_10', 'List_of_...
2211    ['Albania_at_the_2013_Mediterranean_Games_0', ...
2212    ['Hong_Kong_at_the_2010_Asian_Games_1', 'Jon_F...
2213    ['Adam_Macrow_1', '1978_Trans-Am_Series_0', '1...
Name: rr_top100_table_uid, Length: 2214, dtype: object

In [ ]:
df['is_in_top_10'] = df.apply(lambda row: row['table_idx_gt'] in row['rr_top100_table_idx'][1:11].tolist(), axis=1)
df['is_in_top_10'].value_counts()

In [58]:
df['is_in_top_10'] = df.apply(lambda row: row['table_idx_gt'] in row['rr_top100_table_idx'][1:11].tolist(), axis=1)
df['is_in_top_10'].value_counts()

False    1112
True     1102
Name: is_in_top_10, dtype: int64

In [59]:
df['is_in_top_10'] = df.apply(lambda row: row['table_idx_gt'] in eval(row['rr_top100_table_idx'][1:51]), axis=1)
df['is_in_top_10'].value_counts()

True     1491
False     723
Name: is_in_top_10, dtype: int64

In [ ]:
#df['is_in_top_50'] = df.apply(lambda row: row['table_idx_gt'] in eval(row['rr_top100_table_idx'][1:51]), axis=1)
#df['is_in_top_100'] = df.apply(lambda row: row['table_idx_gt'] in eval(row['rr_top100_table_idx']), axis=1)

In [ ]:
#df['is_in_top_50'] = df.apply(lambda row: row['table_idx_gt'] in eval(row['rr_top100_table_idx'][1:51]), axis=1)
#df['is_in_top_100'] = df.apply(lambda row: row['table_idx_gt'] in eval(row['rr_top100_table_idx']), axis=1)

In [52]:
#rr_top100_table_uid
#table_uid_gt
df['is_in_top_10'] = df.apply(lambda row: row['table_uid_gt'] in row['rr_top100_table_uid'][1:11], axis=1)
#df['is_in_top_50'] = df.apply(lambda row: row['table_uid_gt'] in row['rr_top100_table_uid'][11:51], axis=1)
#df['is_in_top_100'] = df.apply(lambda row: row['table_uid_gt'] in row['rr_top100_table_uid'][51:], axis=1)

In [44]:
df['is_in_top_50'].value_counts()

False    2180
True       34
Name: is_in_top_50, dtype: int64

In [55]:
df['is_in_top_10'].value_counts()

False    1112
True     1102
Name: is_in_top_10, dtype: int64

In [46]:
df['is_in_top_100'].value_counts()

False    1140
True     1074
Name: is_in_top_100, dtype: int64

In [27]:
eval(df['rr_top100_table_idx'][0])

[8838,
 1117,
 6335,
 4102,
 6229,
 8714,
 8848,
 5858,
 8493,
 1613,
 2246,
 3798,
 2397,
 6921,
 5666,
 7461,
 5606,
 3983,
 4985,
 4559,
 8626,
 5413,
 1797,
 2322,
 313,
 2311,
 4227,
 6558,
 4983,
 3933,
 3697,
 5376,
 6551,
 1853,
 440,
 3585,
 203,
 3598,
 5378,
 8115,
 7050,
 471,
 5221,
 3379,
 2756,
 6681,
 3487,
 7150,
 3176,
 775,
 5962,
 2706,
 7512,
 2993,
 5148,
 5404,
 2022,
 4609,
 1095,
 3374,
 4625,
 5716,
 5479,
 1547,
 7639,
 3427,
 3391,
 8597,
 2481,
 3520,
 1421,
 1599,
 3254,
 3055,
 1677,
 6902,
 3328,
 5011,
 7422,
 3448,
 3512,
 581,
 3401,
 5498,
 4173,
 2566,
 5309,
 7618,
 3508,
 6889,
 2259,
 3494,
 2032,
 1732,
 7274,
 7828,
 7130,
 64,
 7181,
 3089]

arquivo de configuração

In [2]:
import json

# Seu dicionário
data = {
        #'retriever_source':      '/data/ott-qa/embeddings/',                    #  base line path
        'retriever_source':      '/data/ott-qa/embeddings/improved/',             #  nome das colunas sem caracter especial
        #'retriever_destination': '/data/ott-qa/retriever/',                     #  base line path
        #'retriever_destination': '/data/ott-qa/retriever/improved001/',          #  nome das colunas sem caracter especial
        #'retriever_destination': '/data/ott-qa/retriever/improved002/',         #  aplicado llm nas questions base line path
        'retriever_destination': '/data/ott-qa/retriever/improved003/',         #  nome das colunas sem caracter especial e aplicado llm nas questions base line path
        #'retriever_destination': '/data/ott-qa/embeddings/retriever/improved001', #   perguntas transformadas em sentencas pelo LLM - REFAZER
        #'reranker_roberta_source' : '/data/ott-qa/retriever/',                     # retriever baseline
        #'reranker_roberta_source' : '/data/ott-qa/retriever/improved002/',
        #'reranker_roberta_destination' : '/data/ott-qa/reranking/',
         }

# Salvar o dicionário em um arquivo JSON
with open('path_to_files.json', 'w') as file:
    json.dump(data, file, )

In [8]:
# Passo 2: Ler o dicionário de um arquivo
with open('path_to_files.json', 'r') as file:
    path_to_files = json.load(file)

print(path_to_files)

{'retriever_source': '/data/ott-qa/embeddings/improved/', 'retriever_destination': '/data/ott-qa/retriever/', 'reranker_roberta_destination': '/data/ott-qa/reranking/'}

In [28]:
from sentence_transformers import CrossEncoder
from transformers import AutoConfig

In [29]:
diretorio = "/modelos/reranker/cross-encoder-ms-marco-MiniLM-L-6-v2"
cross_encoder = CrossEncoder(diretorio)

Output exceeds the size limit. Open the full output data in a text editor
BertConfig {
  "_name_or_path": "/modelos/reranker/cross-encoder-ms-marco-MiniLM-L-6-v2",
  "architectures": [
    "BertForSequenceClassification"
  ],
  "attention_probs_dropout_prob": 0.1,
  "classifier_dropout": null,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 384,
  "id2label": {
    "0": "LABEL_0"
  },
  "initializer_range": 0.02,
  "intermediate_size": 1536,
  "label2id": {
    "LABEL_0": 0
  },
  "layer_norm_eps": 1e-12,
  "max_position_embeddings": 512,
  "model_type": "bert",
  "num_attention_heads": 12,
  "num_hidden_layers": 6,
  "pad_token_id": 0,
...
  "transformers_version": "4.38.2",
  "type_vocab_size": 2,
  "use_cache": true,
  "vocab_size": 30522
}

In [37]:
#print(cross_encoder.hidden_size)
config = cross_encoder.config
config.max_position_embeddings = 1024
cross_encoder.max_position_embeddings = 1024

#cross_encoder = CrossEncoder(config=config)
# Carregar o modelo BERT com a nova configuração
config = cross_encoder.config
config.max_position_embeddings

1024

verificando roberta

In [39]:
        diretorio = "/modelos/reranker/cross-encoder-stsb-roberta-base"
        rerank_cross_encoder_model = CrossEncoder(diretorio)

In [40]:
rerank_cross_encoder_model.config

RobertaConfig {
  "_name_or_path": "/modelos/reranker/cross-encoder-stsb-roberta-base",
  "architectures": [
    "RobertaForSequenceClassification"
  ],
  "attention_probs_dropout_prob": 0.1,
  "bos_token_id": 0,
  "classifier_dropout": null,
  "eos_token_id": 2,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "id2label": {
    "0": "LABEL_0"
  },
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "label2id": {
    "LABEL_0": 0
  },
  "layer_norm_eps": 1e-05,
  "max_position_embeddings": 514,
  "model_type": "roberta",
  "num_attention_heads": 12,
  "num_hidden_layers": 12,
  "pad_token_id": 1,
  "position_embedding_type": "absolute",
  "torch_dtype": "float32",
  "transformers_version": "4.38.2",
  "type_vocab_size": 1,
  "use_cache": true,
  "vocab_size": 50265
}

In [ ]:
#print(cross_encoder.hidden_size)
config = cross_encoder.config
config.max_position_embeddings = 1024
cross_encoder.max_position_embeddings = 1024

#cross_encoder = CrossEncoder(config=config)
# Carregar o modelo BERT com a nova configuração
config = cross_encoder.config
config.max_position_embeddings